language: python
sudo: required
services: docker
python:
  - 2.7
script:
  - docker inspect collectd-fluentd-dev >/dev/null 2>&1 || docker build -t collectd-fluentd-dev .
  - docker run -it --rm -v $(pwd)/:/src --workdir=/src collectd-fluentd-dev tox
